<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <title>Классные птицы</title>
 </head>
 <body id="body">

    {% load staticfiles %}

    <script>
        function play() {
          var audio = document.getElementById("audio");
          audio.play();
        }
      </script>

    <audio id="audio" src="{% static 'caic_krik.mp3' %}"></audio>

    <h1>26 интересных фактов о птицах</h1>
    <p><a href="{% static 'bird_1.jpg' %}">Тут красивая птица, посмотрите</a></p>
    <p>Птицы окружают нас. На свете нет ни одной страны, где их бы не было. Мы не так уж часто задумываемся о них, ведь они так привычны, 
        что глаз их просто не замечает… А напрасно, ведь они — создания поистине удивительные. 
        Ниже вы найдёте подборку интересных фактов о птицах.</p>


    <p style="text-align: center"><button onclick=play()>Кликни меня! А я за это спою</button>


    <h3 style="text-align: center;">Интересные факты о птицах</h3>
    <ol>
        <li>Птицы живут по всей планете, на всех континентах. Они есть даже в самых труднодоступных областях Антарктиды</li>
        <li>В настоящее время на нашей планете проживает более десяти с половиной тысяч различных видов птиц.</li>
        <li>Самые крохотные птицы на свете — колибри, особи некоторых их видов весят около 3 грамм. Самая маленькая птичка в мире — колибри-пчёлка, средняя длина её тела составляет около пяти с половиной сантиметров.</li>
        <li>Африканские страусы порой достигают веса в 150 кг, а некоторые вымершие виды нелетающих птиц весили до 400 кг. В настоящее время самая крупная из всех птиц на земле — именно африканский страус. Рост этих птиц достигает 2,7 метра.</li>
        <li>Масса самой маленькой птицы из живущих на земле меньше массы самой крупной примерно в 66,000 раз.</li>
        <li>Странствующий альбатрос может похвастать самым большим размахом крыльев — у него он может достигать трёх с четвертью метров.</li>
        <li>А у вымерших птиц Pelagornis Sandersi размах крыльев достигал семи метров, как установили учёные по ископаемым останкам этих существ. Есть все основания полагать, что эти создания были самыми крупными летающими птицами за всю историю нашей планеты.</li>
        <li>До сих пор точно не известно, от какого вида живых существ произошли птицы. Одна из самых популярных теорий гласит, что от динозавров.</li>
        <li>Все населяющие Северную Америку воробьи являются потомками пары этих птиц, выпущенных в Центральном парке Нью-Йорка в XIX веке</li>
        <li>Некоторые птицы ежедневно потребляют количество пищи, равное четверти массы их собственного тела.<br>
        <li>Перья есть только у птиц, ни у одного из других современных животных они не встречаются.</li>
        <li>У птиц не одна гортань, а две.</li>
        <li>Новокаледонский ворон — одна из самых умных птиц. Он умеет изготавливать из подручных растительных материалов орудия труда, помогающие ему добывать пропитания — например, крючковатые инструменты, которыми он извлекает насекомых из-под древесной коры.</li>
        <li>Морские птицы могут пить солёную морскую воду.</li>
        <li>Совы летают абсолютно бесшумно благодаря своим перьям.</li>
        <li>Некоторые птицы спят стоя, а фламинго, например, вообще могут спать, стоя на одной ноге.</li>
        <li>Сокол-сапсан, пикируя на добычу, развивает скорость свыше 300 километров в час.</li>
        <li>Перелётные птицы летают клином не просто так — такое построение позволяет уменьшить сопротивление воздуха.</li>
        <li>Африканский страус умеет бегать со скоростью до 70 км/ч.</li>
        <li>Ястребы обладают невероятно острым зрением — эти птицы способны разглядеть мышь-полёвку на расстоянии до километра.</li>
        <li>Утки и гуси были бы способны выдержать холод до сотни градусов ниже нуля, если бы на Земле вообще бывали подобные морозы.</li>
        <li>Проживающая в Австралии птица лирохвост обладает чрезвычайно сложным голосовым аппаратом. Эти создания умеют имитировать любые звуки, вплоть до воя бензопилы, человеческого плача или звука работы автомобильного двигателя.</li>
        <li>Единственная птица, способная к полёту «задом наперёд» — колибри.</li>
        <li>Многие виды птиц умеют нырять, но единственная птица, умеющая плавать, но не умеющая летать — пингвин. Точнее, многочисленные подвиды пингвинов.</li>
        <li>Первая птица, некогда одомашненная человеком — это гусь.</li>
        <li>Почти две трети всех видов птиц живёт в тропических лесах</li>
        </ol>

        <p>Настройки</p>
        <form action="myform.php" method="post">
            <input type="radio" onclick="set_theme(true)" name="response" value="yes">Светлая тема<br>
            <input type="radio" onClick="set_theme(false)" name="response" value="no">Темная тема
        </form>

        <script>

            function set_theme(isLight){
                let html = document.getElementsByTagName('html')[0];
                let bodyColor = "#F6F6F6"
                let elseColor = "#000000"
                if(!isLight) {
                    bodyColor = "#000000"
                    elseColor = "#F6F6F6"
                }
                html.style.color = elseColor;
                document.getElementById('body').style.backgroundColor = bodyColor;
            }
        </script>
 </body>
</html>