<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <title>Классные попугаи</title>
 </head>
 <body>
    <h1>25 интересных фактов о попугаях</h1>
    <p><a href="{% static 'popug_1.jpg' %}">Тут вы можете посмотреть на красивого попугая, вы только посмотрите какой он красивый</a></p>
    <p>Попугаи — чрезвычайно интересные птицы, и дело не только в умении некоторых из них разговаривать. Умные и забавные, недаром они 
        пользуются такой популярностью в качестве домашних любимцев во многих странах.</p>
    <h3 style="text-align: center;">Интересные факты о попугаях.</h3>
    <ol>
        <li>У попугаев отлично развито чувство ритма — они могут действительно ритмично танцевать под музыку.</li>
        <li>Около трети всех видов попугаев в настоящее время находится под угрозой вымирания из-за человеческой деятельности и браконьерства.</li>
        <li>В Австралии существуют специальные школы для попугаев, где этих птиц учат разговаривать (см. <a href="birds_facts.html">интересные факты о птицах</a>).</li>
        <li>Многие попугаи любят алкоголь. В природе они получают его, поедая забродившие фрукты и орехи.</li>
        <li>На самом деле попугаи не умеют разговаривать в привычном смысле этого слова — они просто запоминают и повторяют слова. Впрочем, не только слова — они могут запоминать и воспроизводить и какие-нибудь другие звуки.</li>
        <li>Весомый вклад в бюджет Чехии делает разведение и продажа попугаев </li>
        <li>У попугаев отсутствуют голосовые связки, поэтому все звуки они производят с помощью языка и клюва.</li>
        <li>Самые маленькие попугаи обитают в Папуа — Новой Гвинее. Размер взрослого попугайчика, точнее, длина его тела, составляет 8-9 сантиметров.</li>
        <li>Самые большие попугаи — амазонские, они размером с трёхлетнего ребёнка. Длина их тела может превышать метр.</li>
        <li>Стаи попугаев в дикой природе могут быть огромными. Самая крупная стая, когда-либо обнаруженная, насчитывала около 70 тысяч птиц!</li>
        <li>В поисках еды попугаи какаду могут за сутки пролетать более семисот километров.<br>
        <li>Большинство попугаев питается растительной пищей и иногда ловит насекомых, но попугаи породы кеа — настоящие хищники, они нападают даже на достаточно крупных животных, например, на овец.</li>
        <li>Самый популярный домашний попугай — волнистый.</li>
        <li>В Древнем Риме попугай стоил дороже, чем раб.</li>
        <li>Известный натуралист Стив Ирвин легко работал с аллигаторами и ядовитыми змеями, однако, при этом он испытывал страх перед попугаями. Вот такая вот необычная фобия, да.</li>
        <li>Однажды в США домашний попугай помог раскрыть дело о квартирной краже. Преступники в пустой квартире называли друг друга по именам, не стесняясь, а попугай запомнил эти имена и неоднократно повторил их в присутствии полиции, что и помогло стражам порядка взять след.</li>
        <li>Самый «умный» попугай по имени Жако знал около четырёхсот слов.</li>
        <li>Мелкие попугайчики живут по 15-25 лет, а вот крупные могут жить и все сто. Настоящие долгожители.</li>
        <li>Сердце обычного волнистого попугая делает более двухсот ударов за минуту. Хотя, конечно, с колибри всё равно не сравнить </li>
        <li>В наши дни во всём мире насчитывается больше домашних попугаев, чем диких, живущих на природе.</li>
        <li>Из всех бесчисленных видов птиц только попугаи могут поглощать еду, держа её в лапке.</li>
        <li>Попугаи были одомашнены около трёх тысяч лет назад.</li>
        <li>Какаду могут шевелить расположенным на их голове хохолком, то есть гребешком.</li>
        <li>Большинство попугаев живёт в тёплом климате, а вот упомянутые выше попугаи кеа предпочитают жить в горах, где царит холод.</li>
        <li>Большой попугай, например, какаду, запросто может своим 10-сантиметровым клювом перекусить человеку палец.</li>
        </ol>

        <p>А сейчас я предоставлю таблицу, в которой укажу параметры моих личных волнистых попугаев, которые у меня были чуть менее 10-и лет назад</p>

        <table border="1">
            <tr>
             <th>Попугай Кеша</th>
             <th>Попугай Даша</th>
            </tr>
            <tr>
             <td>Очень умный</td>
             <td>Не очень умная</td>
           </tr>
           <tr>
            <td>Зеленого цвета</td>
            <td>Желтого цвета</td>
          </tr>
           <tr>
            <td>Любил сладкие палочки</td>
            <td>Любила сладкие палочки</td>
          </tr>
          <tr>
            <td>Часто звенел в колокольчик</td>
            <td>Не понимала что такое колокольчик</td>
          </tr>
          </table>
 </body>
</html>